body
{
    background-image: url('noise.png');
}

*
{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.nameArea
{
    margin-top: 3em !important;
    font-size: 28px;
    margin-bottom: 1%;
}

.actualName
{
    font-size: 32px;
    text-decoration: underline;
    cursor: pointer;
}

.socials
{
    margin-top: 1em;
    font-size: 20px;
    text-align: center;
}

.social
{
    text-decoration: underline;
    cursor: pointer;
}

.margin50
{
    width: 700px;
    max-width: 90%;
    margin: auto;
}

.experience
{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 1em;
    font-size: 20px;
    padding: 1em;
    box-sizing: border-box;
}

.logo
{
    width: 3em;
    border-radius: 50%;
    border-style: solid;
    height: 3em;
}

.expText
{
    margin-left: 1em;
    font-size: 16px;
}

.expName
{
    color: white;
    font-size: 20px;
}

.expYear
{
    font-size: 14px;
    color: #cccccc;
}

.expLink
{
    text-decoration: none;
}

.footer
{
    text-align: center;
}

*
{
    margin: 0;
}